.transaction {
  margin: 1rem;
  padding: 1rem;
  background-color: #230052;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
  font-size: 12px;
}

a {
  color: #ffffff;
  cursor: pointer;
}